body{
  margin:0;
}

.panel {
  margin:0;
  
}

.header {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  font-family: arial,sans-serif;
  font-size: 13px;
  margin:0;
  
}



.headerli a {
  
  color: black;
  padding: 8px ; 
  text-decoration: none;
  
  
}
.medium-pic {
  width: 32px;
  padding:0;
  
  
}

.small-pic{
  width: 16px; 
  height: 16px;
}




.circle {
  border-radius: 50%;  
}





input[type=text]{
  border:none;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 200px auto 20px auto;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 50px;  
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 25px auto;

  width: 582px;
}

.search-area:hover {
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.search {
  flex: 4;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 13px;
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  

}

.keyboard-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  
  
  vertical-align: middle;

}

.mic-img {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-right: 13px;
 
}



.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
}

.input {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  width: 447px;
}

.googlesearch {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  height: 36px;
}

.feelinglucky {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  height: 36px;
  
}

.feelinglucky:hover{
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.googlesearch:hover {

  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
}

.footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2 ;
}

.footerli {
  float: left;
  list-style-type: none;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
  
}

.footerli a:hover {
  text-decoration: underline;
}

.buttons {
  margin: auto;
  width: 50%;
}

.buttons a {
  margin: auto;
}

.line- {
  display: block;
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
  line-height: 28px;
  margin: 20px auto;
  width: 160px;
}
 


.line- a {
  text-decoration: none;
}